@charset "UTF-8";

/*Estilo Corpo da página*/
body {
    background-image: url('../imagens/img_home_prof.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow-x: hidden;
}

.dashboard-main {
    margin-top: 80px;
    margin-bottom: 20px;
}

.status-card-small {
    max-width: 350px;
    /* largura máxima */
    margin-left: auto;
    margin-right: auto;
    /* centraliza horizontalmente */
}

.status-card {
    text-align: center;
}

.status-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.status-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.status-icon {
    font-size: 2rem;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    position: relative;
    top: 1px;
    /* ajuste fino opcional */
}

.status-number {
    font-size: 2.5rem;
    font-weight: bold;
}

.card {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
}

.mb-2 {
    font-size: 14px;
}

.card-planos-ativos {
  width: 500px;
}

.card-planos-revisar {
  width: 500px
}

.card-alertas {
  width: 500px
}

.col-md-8 {
  padding-left: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
}

.card-body p {
  color: #666;
  font-size: 0.95rem;
}

#graficoProgresso {
  display: block;
  margin: 0 auto;
}

.card-progresso {
  margin-right: 500px;
  width: 800px;
  height: 300px;
}

.card-progresso {
  border-left: 7px;
  width: 800px;
  margin-left: 15px;
}

.card-feedback,
.card-motivacao {
  width: 200px;
  padding: 1rem;
  font-size: 0.95rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin: 0;
}

.card-feedback {
  border-left: 4px;
  width: 190px;
  height: 200px;
  margin-left: 15px;
}

.card-feedback .card-title {
  margin-bottom: 1rem;
}

.card-feedback .fs-3 {
  margin-bottom: 1.5rem;
}

#graficoFeedback {
  margin-top: 0.5rem;
}

.card-motivacao {
  border-left: 4px;
  width: 150px;
  margin-left: 15px;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.grafico-legenda {
  font-size: 0.9rem;
  flex-wrap: wrap;
}

.legenda-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.bolinha {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.card-top-alunos {
  border-left: 4px;
  border-radius: 8px;
  margin-right: 110px;
  width: 500px;
}
.card-top-alunos .card-title {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.card-atividade {
  margin-top: -50px; 
  margin-left: 39px;
}


