@charset "UTF-8";

main {
    margin-top: 200px; /* ou qualquer valor que funcione bem com seu layout */
    margin-bottom: 70px;
}

/* Responsividade para o painel de login */
@media (max-width: 576px) {
    #loginPanel {
        position: static !important;
        max-width: 100vw;
    }
}

#modalEsqueciSenha {
    max-width: 500px;
    position: sticky;
    top: 80px;
}