@charset "UTF-8";

main {
    margin-top: 200px; /* ou qualquer valor que funcione bem com seu layout */
    margin-bottom: 70px;
}

.logo-taurus {
  margin-left: -12px; /* ou -12px se quiser mais colado */
}

@media (max-width: 992px) {
  .coluna-esquerda {
    margin-top: -1rem;
    margin-left: 0.1rem;
  }
}

/* Responsividade para o painel de login */
@media (max-width: 576px) {
    #loginPanel {
        position: static !important;
        max-width: 100vw;
    }
}

#modalEsqueciSenha {
    max-width: 500px;
    position: sticky;
    top: 80px;
}


