@charset "UTF-8";

/*Estilo Corpo da página*/
body {
    background-image: url('../../imagens/img_home_prof.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Estilo input mainCriar*/
#mainCriar input[type="text"]:hover {
    border-color: #f85e16f1;;
}

input.form-control:focus {
  border-color: #f85e16f1 !important;
  box-shadow: 0 0 0 0.25rem rgba(248, 150, 22, 0.4) !important;
}

/* Hover para o select dentro de #mainCriar */
#mainCriar select.form-select:hover {
  border-color: #f85e16f1;
}

/* Focus para o select */
select.form-select:focus {
  border-color: #f85e16f1 !important;
  box-shadow: 0 0 0 0.25rem rgba(248, 150, 22, 0.4) !important;
}

/*Modal de Adicionar Treinos*/
/*Botões de Data*/
.dia-btn {
  width: 32px;
  height: 32px;
  font-weight: bold;
  font-size: 0.85rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*Offcanvas principal*/
.offcanvas {
  transform: none !important;
}

.bg-cor {
  background-color: #6d6d6d1c;
}

/*Estilo da barra de rolagem*/
.scrollavel::-webkit-scrollbar {
  display: none;
}
.scrollavel {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

#cardsIniciais{
cursor: pointer;
}

#cardsAlternativosMusculacao{
cursor: pointer;
}

/*Painel de detalhes como um Offcanvas*/
#painelDetalhes {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 73vh; /* Cresce até 85% da tela */
  background-color: #fff;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 1rem;

  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.3s ease;

  overflow-y: auto; /* Só rola se ultrapassar 85vh */
  z-index: 10;
}

#painelDetalhes.show {
  transform: translateY(0);
  opacity: 1;
}





